1) Бизнес требование гласит, запрос без фамилии должен считаться не валидным.
   Ваша задача: реализуйте это бизнес правило.
   Постарайтесь поместить код реализации в правильное место.

2) Бизнес требование гласит, запрос без даты начала поездки
   (agreementDateFrom) должен считаться не валидным.

3) Бизнес требование гласит, запрос без даты окончания поездки
   (agreementDateTo) должен считаться не валидным.

4) Бизнес требование гласит, дата окончания поездки
  (agreementDateTo) должна быть после даты начала (agreementDateFrom).

5) Бизнес подтвердил, что расчёт стоимости полиса страхования
   не должен основываться на датах из прошлого. Допустимы
   только даты из будущего.

6) Бизнес принял решение первым реализовать
   расчёт премии для медицинского риска. После реализации
   расчёта премии для медицинского риска бизнес будет готов запустить
   нашу систему в продакшене. Остальные риски будут добавляться
   в систему после запуска в продакшене по мере завершения реализации.

   Формула расчёта премии для медицинского риска:
   CountryDefaultDayPremium * DayCount * AgeCoefficient * InsuranceLimitCoefficient

   Расчет стоимости медицинского риска в travel policy зависит
   от нескольких факторов, таких как:

   - Возраст клиента: чем старше клиент, тем больше вероятность,
     что у клиента будут медицинские проблемы во время путешествия.
     Страховые компании обычно предлагают различные тарифы для разных
     возрастных групп.

   - Длительность путешествия: чем дольше клиент находится в путешествии,
     тем больше вероятность, что у него будут медицинские проблемы.
     Страховые компании могут предложить различные тарифы в зависимости
     от продолжительности путешествия.

   - Страны, которые клиент посещает: в некоторых странах медицинские
     расходы могут быть очень высокими, поэтому страховые компании
     могут взимать более высокую стоимость для покрытия медицинских
     расходов в этих странах.

   - Страховой лимит: страховой лимит определяет максимальную сумму,
     которую страховая компания может выплатить за медицинские расходы.
     Чем выше лимит, тем выше будет стоимость медицинского риска в
     travel policy.



6. Система расчета стоимости страхового полиса для путешественников должна основываться на выбранных клиентом рисках,
   от которых он хочет застраховаться.
   Стоимость полиса должна быть суммой стоимости страховки для каждого выбранного риска.
   Требования:
   Система должна предоставлять клиенту возможность выбора различных рисков, от которых он желает застраховаться
   (медицинские расходы, отмена поездки, утеря багажа, ответственность перед третьими лицами, эвакуация и репатриация, активный отдых).
   Расчет стоимости страхового полиса должен производиться как сумма стоимости страховки для каждого выбранного риска.
   Клиент должен выбрать как минимум один риск, от которого он желает застраховаться.
   Система должна четко отображать, какие риски были выбраны клиентом и соответствующую стоимость страховки для каждого.

7. Бизнес принял решение реализовать расчет стоимости страхового полиса для медицинского риска в первую очередь,
   прежде чем добавлять другие риски. Бизнес ожидает, что после реализации расчета для медицинского риска,
   система будет готова к запуску в производство.
   Остальные риски будут добавляться в систему постепенно после запуска.
   Информация о расчете стоимости медицинского риска
   Возраст клиента: чем старше клиент, тем выше вероятность медицинских проблем во время путешествия.
   Страховые компании предлагают различные тарифы для разных возрастных групп.
   Длительность путешествия: чем дольше путешествие, тем выше вероятность медицинских проблем.
   Страховые компании могут предлагать различные тарифы в зависимости от продолжительности поездки.
   Страны посещения: в некоторых странах медицинские расходы могут быть очень высокими,
   поэтому страховые компании могут устанавливать более высокую стоимость для покрытия медицинских расходов в этих странах.
   Страховой лимит: чем выше лимит страхового покрытия, тем выше стоимость медицинского риска в страховом полисе.
   Формула расчета стоимости медицинского риска
   premium = CountryDefaultDayPremium * DayCount * AgeCoefficient * InsuranceLimitCoefficient



